:root {
    --primary-dark: #282828;
    --primary-light: #c6c6c6;
    --secondary-light: #fefefe;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/* HEADER */

.header {
    padding: 10px 0;
}

.title {
    text-align: center;
    font-size: 70px;
    font-family: 'Finger Paint', sans-serif;
}

/* MAIN */

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 700px;
}

/*  */



button {
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

button,
input[type='color'] {
    transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -webkit-box-shadow: 0px 2px 10px 5px rgba(55, 55, 55, 0.079);
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.size-value {
    margin-bottom: -20px;
    font-size: 20px;
}

input[type='range'] {
    appearance: none;
    background-color: var(--primary-light);
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--primary-dark);
    border-radius: 25px;
    background: var(--secondary-light);
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: var(--primary-dark);
}

/*  */
/* GRID */

.grid {
    display: grid;
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-element {
    user-select: none;
}